<div id="<%= dom_id firm %>" class="card bg-dark text-white">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong>
      <%= firm.name %>
    </p>

    <p class="card-text">
      <strong>Edrpou:</strong>
      <%= firm.edrpou %>
    </p>

    <p class="card-text">
      <strong>Email:</strong>
      <%= firm.email %>
    </p>

    <p class="card-text">
      <strong>Ipn:</strong>
      <%= firm.ipn %>
    </p>

    <p class="card-text">
      <strong>Data:</strong>
      <%= firm.data %>
    </p>

 
  </div>
</div>
