<%= form_with(model: firm) do |form| %>
  <% if firm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firm.errors.count, "error") %> prohibited this firm from being saved:</h2>

      <ul>
        <% firm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :edrpou %>
    <%= form.text_field :edrpou %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :ipn %>
    <%= form.text_field :ipn %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_area :data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
